### CUSTOM ###
application-local.yaml
# npm缓存
**/npm-cache/
%APPDATA%/npm-global/
node_modules/
tmp
/%APPDATA%/npm-cache/_cacache/*
# npm全局缓存/安装目录
%APPDATA%/npm-cache/

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
